body {
	background-image: url("https://images7.alphacoders.com/410/410563.jpg")
}

div {
	background-color: white;
	width: 900px;
	border 10px grey;
	padding 25px;
	margin: 25px;
}
/*
div {
	margin: 350px;
	width: 100%;
	height: auto;
	position: center;
}*/
h1 {
	font-family: Sacramento;
	margin: 5px;
	color: black;
	font-size: 95px;
	text-shadow: 2px 2px gray;
}
h3 {
	font-family: Sacramento;
	margin: 5px;
	color: black;
	font-weight: lighter;	
	font-size: 30;
}
p {
	font-family: lora;
	color: black;
	font-weight: lighter;
	font-size: 20px;
}

