body {
	background-image: url("https://images7.alphacoders.com/410/410563.jpg")
}
#main-body {
	border-radius: 10px;
	/*position: fixed;*/
	z-index: 2;
	margin: 10px; 
	/*background-image: url("https://images7.alphacoders.com/410/410563.jpg");*/
	width: 50%
	height: 200px;
	float: right;
	boarder: 50% transparent black;
	padding: 10px;
	margin: 10px;
}
div {
	margin: 50px;
	width: 100%;
	height: auto;
	position: relative;
}
div.inputs {
	border-radius: 10px;
	float: right;
	position: relative;
	margin: 5px;
}


h1 {
	font-family: Sacramento;
	margin: 5px;
	color: blue;
	font-size: 95px;
	text-shadow: 2px 2px gray;
}
p {
	font-family: lora;
	color: black;
	font-weight: lighter;
	font-size: 19px;
	padding: 10px;
}

